---
publish: false
---
<div class="slider__list-wrapper{{#if options.settings.sliderOverflow}} is-overflow{{/if}}" data-js-atom="slider-wrapper">
	<div class="slider__list" data-js-atom="slider-ribbon">
		{{{yield}}}
	</div>
</div>